h1 {
    text-align: center;
    color: white;
    margin: 0 50px;
    font-size: 30px;
      -webkit-text-stroke: 2px palevioletred;
      paint-order: stroke fill;
}

h6 {
    text-align: center;
    margin: 10px 5px;
    font-size: 20px;
    color: white;
      -webkit-text-stroke: 2px palevioletred;
       paint-order: stroke fill;
}

a {
    font-size: 13px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
}

div {
    color: aquamarine;
}

body {
    text-align: center;
    font-family: sans-serif;
    background-color: lightpink;
}

img {
    width: 150px;
    margin: 40px auto;
    display: block;
}